<div class="container px-5 px-sm-0 mt-5">
  <div class="row">
    <%= render "UserBook", user: @user,book: @book %>
    <div class="col-8 md-3 offset-md-1">
      <h2>Book</h2>
      <table class="table">
        <thead>
          <tr>
            <th>Title</th>
            <th>Opinion</th>
          </tr>
        </thead>
        <tbody>
          <% @books.each do |book| %>
            <tr>
              <td><%= book.title %></td>
              <td><%= book.body %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
