<div class="container px-5 px-sm-0 mt-5">
  <div class="row">
    <%= render "users/UserBook",user: current_user, book: @book %>
    <div class="col-8 md-3 offset-md-1">
      <h2>Books</h2>
      <table class="table">
        <thead>
          <tr>
            <th></th>
            <th>title</th>
            <th>opinion</th>
          </tr>
        </thead>
        <tbody>
          <% @books.each do |book| %>
            <tr>
              <td></td>
              <td><%= book.title %></td>
              <td><%= book.body %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
